@import "../sass-utils/index";

.btn {
    background-color: $transparent;
    border: 1px solid $gray;
    border-radius: 10px;
    cursor: pointer;
    padding: 0.5em 1.5em;
    transition: 0.2s ease-in-out;

    &:hover {
        background-color: $lightgray;
    }
}

.submit {
    background-color: $transparent;
    border-color: $green;
    transition: 0.2s ease-in-out;

    &:hover {
        background-color: $green;
    }
}
