@import "../sass-utils/index";

.toDosSection {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;

    .cardContainer {
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
        justify-content: center;
        width: 100%;
    }

    .responseMessage {
        @include responseMessage;
    }
}
