@import "../sass-utils/index";

.header {
    @include boxShadow;

    background-color: rgba(255, 115, 0, 0.813);
    display: flex;
    justify-content: center;
    padding: 2em 3em;
    width: 100%;

    .headerLogo {
        height: auto;
        max-width: 200px;
    }
}

@media (max-width: $md) {
    .header {
        .headerLogo {
            max-width: 160px;
        }
    }
}
